<!DOCTYPE html>
<html>
    <head>
        <title>메뉴판</title>
    </head>
    <body>
        <center>
        <h1>메뉴</h1>
        <p>
            <button name="menu1" style="width:70pt;">커피</button>
            <button name="menu2" style="width:70pt;">녹차</button>
        </p><hr>
        <button name="menu3" style="width:70pt;">주스</button>
        </center>
        <center>
            <h1>메뉴</h1>
            <p>
                <button name="menu1" style="width:70pt;">아메리카노</button>
                <button name="menu2" style="width:70pt;">카페라떼</button>
                <button name="menu2" style="width:70pt;">녹차</button>
                <button name="menu2" style="width:70pt;">둥글레차</button>
            </p>
        </center>
    </body>
</html>
